<html>
    <head>
        <title>Voting Results!</title>
    </head>


    <body style="background-color: rgb(217,35,35);" class="">
        	<div class="container" style="width:100%">
	
	<center>
	<h2 style="color:white;">Voting Results</p>
    </h2>

    <table style="color:white; text-align:center;">
        <tr>
        <th>Image</th>
        <th>Member Name</th>
        <th>No. of Votes</th>
        </tr>
    
    <tr>
	<td><img id="renAmamiya" src="./images/ren.webp" style="height:130px; width:auto;"> </td>
    <td>Ren Amamiya</td>
    <td>{{results.ren}}</td>
    </tr>

    <tr>
	<td><img id="ryujiSakamoto" src="./images/ryuji.webp" style="height:130px; width:auto;"> </td>
    <td>Ryuji Sakamoto</td>
    <td>{{results.ryuji}}</td>
    </tr>

    <tr>
    <td><img id="annTakamaki" src="./images/ann.webp" style="height:130px; width:auto;"> </td>
    <td>Ann Takamaki</td>
    <td>{{results.ann}}</td>
    </tr>

    <tr>
	<td><img id="makotoNiijima" src="./images/makoto.webp" style="height:130px; width:auto;"> </td>
    <td>Makoto Niijima</td>
    <td>{{results.makoto}}</td>
    </tr>

    <tr>
    <td><img id="yusukeKitagawa" src="./images/yusuke.webp" style="height:130px; width:auto;"> </td>
    <td>Yusuke Kitagawa</td>
    <td>{{results.yusuke}}</td>
    </tr>

    <tr>
	<td><img id="futabaSakura" src="./images/futaba.webp" style="height:130px; width:auto;"> </td>
    <td>Futaba Sakura</td>
    <td>{{results.futaba}}</td>
    </tr>
	
    <tr>
    <td><img id="haruOkumura" src="./images/haru.webp" style="height:130px; width:auto;"> </td>
    <td>Haru Okumura</td>
    <td>{{results.haru}}</td>
    </tr>

    <tr>
    <td><img id="morgana" src="./images/morgana.webp" style="height:130px; width:auto;"> </td>
    <td>Morgana</td>
    <td>{{results.morgana}}</td>
    </tr>

    </table>

    <br><br>
    <a href="/">Return and cast another vote!</a>
    </center>
    </body>
</html>